pruebaServicioAmaguaOnline/Service References/ServiceAmagua/ConciliacionAmagua.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConciliacionAmagua" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://gyebmccpdes07.bancomachala.corp:8086/ic_CoreServicios_Conciliaciones_ISL.ConciliacionAmagua.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://gyebmccpdes07.bancomachala.corp:8086/ic_CoreServicios_Conciliaciones_ISL.ConciliacionAmagua.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConciliacionAmagua_ic_generarArchivoTransacciones_InputMessage">
    <wsdl:part name="parameters" element="tns:ic_generarArchivoTransacciones" />
  </wsdl:message>
  <wsdl:message name="IConciliacionAmagua_ic_generarArchivoTransacciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:ic_generarArchivoTransaccionesResponse" />
  </wsdl:message>
  <wsdl:message name="IConciliacionAmagua_GenerarArchivoTransaccionesOnLine_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarArchivoTransaccionesOnLine" />
  </wsdl:message>
  <wsdl:message name="IConciliacionAmagua_GenerarArchivoTransaccionesOnLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarArchivoTransaccionesOnLineResponse" />
  </wsdl:message>
  <wsdl:portType name="IConciliacionAmagua">
    <wsdl:operation name="ic_generarArchivoTransacciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IConciliacionAmagua/ic_generarArchivoTransacciones" message="tns:IConciliacionAmagua_ic_generarArchivoTransacciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConciliacionAmagua/ic_generarArchivoTransaccionesResponse" message="tns:IConciliacionAmagua_ic_generarArchivoTransacciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarArchivoTransaccionesOnLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IConciliacionAmagua/GenerarArchivoTransaccionesOnLine" message="tns:IConciliacionAmagua_GenerarArchivoTransaccionesOnLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConciliacionAmagua/GenerarArchivoTransaccionesOnLineResponse" message="tns:IConciliacionAmagua_GenerarArchivoTransaccionesOnLine_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConciliacionAmagua" type="tns:IConciliacionAmagua">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ic_generarArchivoTransacciones">
      <soap:operation soapAction="http://tempuri.org/IConciliacionAmagua/ic_generarArchivoTransacciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarArchivoTransaccionesOnLine">
      <soap:operation soapAction="http://tempuri.org/IConciliacionAmagua/GenerarArchivoTransaccionesOnLine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConciliacionAmagua">
    <wsdl:port name="BasicHttpBinding_IConciliacionAmagua" binding="tns:BasicHttpBinding_IConciliacionAmagua">
      <soap:address location="http://gyebmccpdes07.bancomachala.corp:8086/ic_CoreServicios_Conciliaciones_ISL.ConciliacionAmagua.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>