pruebaServicioAmaguaOnline/Service References/ServiceAmagua/ic_CoreServicios_Conciliaciones_ISL1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ic_generarArchivoTransacciones">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" type="xs:int" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ic_generarArchivoTransaccionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ic_generarArchivoTransaccionesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarArchivoTransaccionesOnLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" type="xs:int" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarArchivoTransaccionesOnLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarArchivoTransaccionesOnLineResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>